@keyframes move-up {
  to {
    transform: translateY(-20px);
  }
}

@keyframes move-down {
  to {
    transform: translateY(20px);
  }
}
  .noRisk{
    margin-top: 7%;
  }
  .noRisk__title {
    margin-top: 5%;
    background: url(/public/img/bg_anoutUs.svg);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 35px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .noRisk__circle{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: relative;
    z-index: 200;
    border-radius: 50%;
    border: 9px solid rgba(255, 255, 255, 0.8);
    width: 520px;
    height: 520px;
    background: rgba(255, 255, 255, 0);
    margin: 0 auto;
  }
  .noRisk__circl:nth-child(1){
    position: absolute;
    border-radius: 50%;
    border: 9px solid rgba(20, 114, 255, 1);
    width: 100px;
    height: 100px;
    background: rgba(20, 114, 255, 1);
    margin-left: -50%;
    margin-top: -7%;
    filter: blur(5px);
    animation: move-up 3s ease-in infinite alternate-reverse;
  }
  .noRisk__circl:nth-child(2){
    position: absolute;
    border-radius: 50%;
    border: 9px solid rgba(25, 184, 237, 1);
    width: 95px;
    height: 95px;
    background: rgba(25, 184, 237, 1);
    margin-left: -50%;
    margin-top: 34%;
    filter: blur(6px);
    animation: move-up 3.5s ease-in infinite alternate-reverse;
  }
  .noRisk__circl:nth-child(3){
    position: absolute;
    border-radius: 50%;
    border: 9px solid rgba(72, 153, 193, 1);
    width: 75px;
    height: 75px;
    background: rgba(72, 153, 193, 1);
    margin-left: 41%;
    margin-top: 12%;
    filter: blur(9px);
    animation: move-up 4s ease-in infinite alternate-reverse;
  }
  
  .noRisk__title h1 {
    color: rgba(211, 229, 255, 1);
    background-color: rgba(29, 53, 91, 0.8);
    padding: 7% 40% 7% 40%;
    font-family: "Montserrat";
    font-size: 33px;
    font-weight: 600;
    line-height: 47px;
    text-align: center;
  }
  .noRisk__posts{
    z-index: 1;
    max-width: 920px;
    background-color: rgba(4, 68, 116, 0.85);
    border-radius: 25px;
    opacity: 0.91;
    margin: 1% 0 1% 0;
    padding: 5%;
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-align: center;
    color: rgba(158, 226, 255, 1);
    font-family: "Open Sans";
    margin: 0 5% 3% 5%;
  }
  
  .noRisk__posts {
    margin-top: 5%;
  }
  
  @media only screen and (min-device-width: 250px) and (max-device-width: 545px) {
    .noRisk__title {
      background-position: top;
      margin-top: 20%;
    }
    .noRisk__title h1 {
      padding: 7% 32% 7% 32%;
      font-size: 33px;
    }
    .noRisk__circle{
      width: 300px;
      height: 300px;
    }
    .noRisk__title > h1 {
      font-size: 33px;
      line-height: 67px;
      margin: 15% 2%;
    }
    .noRisk__posts p{
     margin-bottom: 15%;
    }
    .noRisk__circl:nth-child(1){
      width: 90px;
      height: 90px;
      margin-left: -54%;
      margin-top: -16%;
    }
    .noRisk__circl:nth-child(2){
      width: 90px;
      height: 90px;
      margin-left: -54%;
      margin-top: 186%;
    }
    .noRisk__circl:nth-child(3){
      width: 70px;
      height: 70px;
      margin-left: 34%;
      margin-top: 86%;
    }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .noRisk__title {
      background-position: top;
    }
  }

  @media only screen and (orientation: landscape) and (max-width: 879px) {

  }