@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1028px;
  margin: 0 auto;
}

.s0 {
  fill: none;
  stroke: wheat;
  stroke-width: 1;
  opacity: 0.1;
  width: 100%;
}

.core {
  fill: url("#img1");
  max-width: 100%;
}

.orbita1 {
  fill: url("#img2");
}

.orbita2 {
  fill: url("#img3");
}

.orbita3 {
  fill: url("#img4");
}

.orbita4 {
  fill: url("#img5");
}

.orbita5 {
  fill: url("#img6");
}

main {
  margin-top: 98px;
}

@media only screen and (min-device-width: 250px) and (max-device-width: 545px) {
  .container {
    max-width: 100%;
  }
  main {
    margin-top: 1%;
  }
  svg {
    display: none;
    opacity: 0;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  main {
    margin-top: 0;
  }
}

@media only screen and (orientation: landscape) and (max-width: 879px) {
  .container {
    max-width: 100%;
  }
  main {
    margin-top: 1%;
  }
  svg {
    display: none;
    opacity: 0;
  }
}
