.header {
    background-color: rgb(2, 9, 26,0.5);
    width: 100%;
    position: fixed;
    z-index: 300;
  }
  
  .header__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .header__logo > a > img {
    max-width: 60%;
    margin: 23px 0 23px 5%;
  }
  
  .header__logo > a {
    cursor: pointer;
  }

  .header__logo{
    width: 20%;
  }
  
  .header__menu {
    display: flex;
    align-items: center;
    width: 70%;
  }
  
  .header__items {
    display: flex;
  }
  
  .header__items > li > a {
    margin-right: 25px;
    opacity: 0.67;
    color: white;
    font-family: "Open Sans";
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
  }
  .header__items > li > a.active {
    opacity: 1;
    color: white;
  }
  
  .header__items > li:last-child {
    display: none;
    opacity: 0;
  }
  
  .header__telegram{
    width: 15%;
  }

  .header__telegram > a > img {
    max-width: 30%;
  }
  
  .header__utc {
    margin-right: 5%;
    color: white;
    font-family: "Open Sans";
    width: 15%;
  }

  @media only screen and (min-device-width: 250px) and (max-device-width: 545px) {
    .header {
      width: 100%;
      position: fixed;
      z-index: 300;
    }
    .header__row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .header__logo{
      width: 43%;
    }
    .header__logo > a > img {
      position: relative;
      z-index: 100;
      max-width: 40%;
    }
    .header__menu {
      opacity: 0;
      display: none;
      position: absolute;
      transform: translate(100, 0px);
      transition: all 0.6s ease 0s;
    }
    .header__menu.active {
      display: inherit;
      width: 100%;
      min-height: 100vh;
      margin-top: 87%;
      transform: translate(0px, 0px);
      background-color: #02091a;
      opacity: 1;
      transition: all 0.6s ease 0s;
    }
    .header__menu.active li {
      color: #02091a;
      padding: 15px;
      font-size: 20px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .header__menu.active li:last-child {
      display: inherit;
      opacity: 1;
    }
    .header__menu li:hover {
      text-decoration: underline;
    }
    .header__menu li a {
      color: white;
    }
    .header__items {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }
    .header__telegram {
      opacity: 0;
      display: none;
    }
    .header__utc {
      opacity: 0;
      display: none;
    }
    .header__button {
      width: 45px;
      height: 45px;
      margin-right: 3%;
      position: relative;
    }
    .header__line {
      position: absolute;
      z-index: 100;
      margin-left: 2px;
      width: 32px;
      height: 2px;
      background-color: white;
      top: 21.5px;
    }
    .header__line::after {
      position: absolute;
      display: block;
      content: " ";
      width: 32px;
      height: 2px;
      background-color: white;
      transition: all 0.6s ease 0s;
      top: 9px;
    }
    .header__line::before {
      position: absolute;
      display: block;
      content: " ";
      width: 32px;
      height: 2px;
      background-color: white;
      transition: all 0.6s ease 0s;
      bottom: 9px;
    }
    .header__line.active {
      height: 0;
    }
    .header__line.active::after {
      transition: all 0.8s ease 0s;
      transform: rotate(45deg);
      top: 5px;
    }
    .header__line.active::before {
      transition: all 0.6s ease 0s;
      transform: rotate(-45deg);
      bottom: -6px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .header {
      width: 100%;
      position: fixed;
      z-index: 300;
    }
    .header__row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .header__logo > a > img {
      position: relative;
      z-index: 100;
      max-width: 65%;
    }
    .header__menu {
      opacity: 0;
      display: none;
      position: absolute;
      transform: translate(100, 0px);
      transition: all 0.6s ease 0s;
    }
    .header__menu.active {
      display: inherit;
      width: 100%;
      height: 100vh;
      margin-top: 100%;
      transform: translate(0px, 0px);
      background-color: #02091a;
      opacity: 1;
      transition: all 0.6s ease 0s;
    }
    .header__menu.active li {
      color: #02091a;
      padding: 15px;
      font-size: 20px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .header__menu.active li:last-child {
      display: inherit;
      opacity: 1;
    }
    .header__menu li:hover {
      text-decoration: underline;
    }
    .header__menu li a {
      color: white;
    }
    .header__items {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }
    .header__telegram {
      opacity: 0;
      display: none;
    }
    .header__utc {
      opacity: 0;
      display: none;
    }
    .header__button {
      width: 55px;
      height: 55px;
      margin-right: 3%;
      position: relative;
    }
    .header__line {
      position: absolute;
      z-index: 100;
      margin-left: 2px;
      width: 35px;
      height: 3px;
      background-color: white;
      top: 21.5px;
    }
    .header__line::after {
      position: absolute;
      display: block;
      content: " ";
      width: 35px;
      height: 3px;
      background-color: white;
      transition: all 0.6s ease 0s;
      top: 9px;
    }
    .header__line::before {
      position: absolute;
      display: block;
      content: " ";
      width: 35px;
      height: 3px;
      background-color: white;
      transition: all 0.6s ease 0s;
      bottom: 9px;
    }
    .header__line.active {
      height: 0;
    }
    .header__line.active::after {
      transition: all 0.8s ease 0s;
      transform: rotate(45deg);
      top: 5px;
    }
    .header__line.active::before {
      transition: all 0.6s ease 0s;
      transform: rotate(-45deg);
      bottom: -6px;
    }
}

@media only screen and (orientation: landscape) and (max-width: 879px) {

    .header {
      z-index: 300;
    }
    .header__logo > a > img {
      position: relative;
      z-index: 300;
      margin-left: 10%;
      max-width: 50%;
    }
    .header__menu {
      opacity: 0;
      display: none;
      position: absolute;
      transform: translate(100, 0px);
      transition: all 0.6s ease 0s;
    }
    .header__menu.active {
      display: inherit;
      overflow-y: scroll;
      z-index: 105;
      width: 100%;
      min-height: 100vh;
      margin-top: 28%;
      transform: translate(0px, 0px);
      background-color: #02091a;
      opacity: 1;
      transition: all 0.6s ease 0s;
    }
    .header__menu.active li {
      color: #02091a;
      overflow-y: scroll;
      padding: 15px;
      font-size: 15px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .header__menu.active ul {
      overflow-y: scroll;
      margin-top: 2%;
    }
    .header__menu.active li:last-child {
      display: inherit;
      opacity: 1;
    }
    .header__menu li a {
      color: white;
    }
    .header__items {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      margin: 0 auto;
    }
    .header__telegram {
      opacity: 0;
      display: none;
    }
    .header__utc {
      opacity: 1;
      display: block;
      z-index: 300;
    }
    .header__button {
      width: 45px;
      height: 45px;
      margin-right: 5%;
      position: relative;
      z-index: 300;
    }
    .header__line {
      position: absolute;
      z-index: 100;
      margin-left: 2px;
      width: 32px;
      height: 2px;
      background-color: white;
      top: 21.5px;
    }
    .header__line::after {
      position: absolute;
      display: block;
      content: " ";
      width: 32px;
      height: 2px;
      background-color: white;
      transition: all 0.6s ease 0s;
      top: 9px;
    }
    .header__line::before {
      position: absolute;
      display: block;
      content: " ";
      width: 32px;
      height: 2px;
      background-color: white;
      transition: all 0.6s ease 0s;
      bottom: 9px;
    }
    .header__line.active {
      height: 0;
    }
    .header__line.active::after {
      transition: all 0.8s ease 0s;
      transform: rotate(45deg);
      top: 5px;
    }
    .header__line.active::before {
      transition: all 0.6s ease 0s;
      transform: rotate(-45deg);
      bottom: -6px;
    }
}